.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--bg-primary);
}

.content {
    flex: 1;
    margin-top: 64px;
    /* Height of the Top Navbar */
    min-height: calc(100vh - 64px);
    position: relative;
    display: flex;
    flex-direction: column;
}